<%= tagged_tinymce_script %>

<p>
  <b><%= ApplicationSetting.human_attribute_name('title').s %></b><br />
  <%= f.text_field :title %>
</p>
<p>
  <b><%= ApplicationSetting.human_attribute_name('description').s %></b><br />
  <%= f.text_area :description, :rows => 5, :class => 'mceEditor' %>
</p>
<p>
  <b><%= ApplicationSetting.human_attribute_name('value').s %></b><br />
  <%= f.text_field :value %>
</p>
<p>
  <b><%= ApplicationSetting.human_attribute_name('string_value').s %></b><br />
  <%= f.text_field :string_value %>
</p>
<p>
  <b><%= Permission.human_name.titleize.s %></b><br />
  <%= f.text_field :permission_id %>
</p>