<%= tagged_tinymce_script %>
<p>
    <b><%= Medium.human_name.titleize.s %></b><br />    
<%= f.hidden_field :medium_id %>
<%= link_to image_tag(@medium.thumbnail_image.public_filename), medium_path(@medium) %></td>
</p>
<p>
    <b><%= AdministrativeUnit.human_name.titleize.s %></b><br />
<%= f.select @element_name, @elements %> (<%= link_to ts('manage.this'), elements_path, { :target => '_blank' } %>)
</p>
<p>
    <b><%= MediaAdministrativeLocation.human_attribute_name('spot_feature').s %></b><br />
    <%= f.text_area :spot_feature, :rows => 5, :class => 'mceEditor' %>
</p>
<p>
    <b><%= MediaAdministrativeLocation.human_attribute_name('notes').s %></b><br />
    <%= f.text_area :notes, :rows => 5, :class => 'mceEditor' %>
</p>