<h1><%= ts :in, :what => t(:for, :what => t('list.ing.records', :what => Citation.human_name.capitalize), :whom => @reference.title), :where => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<table border="1" class="normal">
  <tr>
    <th><%= Citation.human_attribute_name('medium_id').s %></th>
    <th><%= Citation.human_attribute_name('Page_Number').s %></th>
    <th><%= Citation.human_attribute_name('Page_Size').s %></th>
    <th><%= Citation.human_attribute_name('Line_Number').s %></th>
    <th><%= Citation.human_attribute_name('Note').s %></th>
        <th><%= ts :options %></th>
 </tr>

<% @citations.each do |citation| %>
  <tr>
    <td>
<%    medium = citation.medium 
      if !medium.nil? %>
<%=     medium.id %>
<%      titles = medium.titles
        if !titles.empty? %>
          : <%=h(titles.first.title).s %> ...
<%	    end
      else %>
        &nbsp;
<%    end %>
    </td>
    <td><%= citation.page_number %></td>
    <td><%=h citation.page_side %></td>
    <td><%= citation.line_number %></td>
    <td><%=h citation.note %></td>
    <td><%= link_to ts('manage.this'), polymorphic_path(@reference_stack + [citation]) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_medium_title_citation_path do %>
<%=  link_to ts(:for, :what => t('new.record', :what => Citation.human_name), :whom => @reference.class.human_name), new_polymorphic_path(@reference_stack + [Citation]) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'titles'} %>
</p>