<h1><%= ts(:for, :what => t('list.ing.records', :what => Citation.human_name.capitalize), :whom => @reference.title) %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<table>
  <tr>
    <th><%= Citation.human_name.capitalize.s %></th>
    <th><%= ComplexScripts::Language.human_name.capitalize.s %></th>
    <th><%= ts :options %></th>
  </tr>

<% @citations.each do |citation| %>
  <tr>
    <td><%=h citation.medium_id %></td>
    <td><%=h citation.page_number %></td>
    <td><%=h citation.page_side %></td>
    <td><%=h citation.line_number %></td>
    <td><%=h citation.note %></td>
    <td><%= link_to 'Show', @reference.class == Title ? medium_title_citation_path(@medium, @reference, citation) : medium_title_translated_title_citation(@medium, @title, @reference, @citation) %></td>
    <td><%= link_to 'Destroy', @reference.class == Title ? medium_title_citations_path(@medium, @reference) : medium_title_translated_tile_citations_path(@medium, @title, @reference), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_medium_title_path do %>
<%=  link_to ts(:for, :what => t('new.record', :what => Citation.human_name), :whom => @reference.class.human_name), new_medium_title_citation_path(@medium) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'titles'} %>
</p>