<% title =  Citation.human_name.titleize %>
<h1><%= ts :in, :what => t(:for, :what => title, :what => Citation.human_name.capitalize, :whom => @reference.title), :where => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<% reference_title = @reference.title.s %>
<p><%= thumbnail_image_link(@medium) %></p>
<%  medium = @citation.medium
    if !medium.nil? %>
      <p><b><%= Citation.human_attribute_name('medium_id').s %>:</b> <%= medium.id %>
<%=   thumbnail_image_link(medium) %></p>
<%=   render :partial => 'titles/index_display_only', :locals => {:medium => medium} %>
<%  end %>
<%= display_if_not_blank Citation.human_attribute_name('page_number'), @citation.page_number %>
<%= display_if_not_blank Citation.human_attribute_name('page_side'), h(@citation.page_side) %>
<%= display_if_not_blank Citation.human_attribute_name('line_number'), @citation.line_number %>
<p><b>Note:</b></p>
<%=h @citation.note %>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_medium_title_citation_path do %>
<%=  link_to ts(:for, :what => t('new.record', :what => Citation.human_name), :whom => reference_title), new_polymorphic_path(@reference_stack + [Citation]) %> |
<% end %>
<%  authorized_only hash_for_edit_medium_title_citation_path do %>
<%=   link_to 'Edit', edit_polymorphic_path(@reference_stack + [@citation]) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>