<h1><%= ts(:for, :what => t('list.ing.records', :what => Citation.human_name.capitalize), :whom => @reference.title) %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<p>
  <b>Title:</b>
  <%=h @reference.title %>
</p>
<p><br />
   <%= thumbnail_image_link(@medium) %>
</p>
<p>
  <b>Page number:</b>
  <%=h @citation.page_number %>
</p>

<p>
  <b>Page side:</b>
  <%=h @citation.page_side %>
</p>

<p>
  <b>Line number:</b>
  <%=h @citation.line_number %>
</p>

<p>
  <b>Note:</b><br />
  <%=h @citation.note %>
</p>


<%= link_to 'Edit', @reference.class == Title ? edit_medium_title_citation_path(@medium, @reference, @citation) : edit_medium_title_translated_title_citation_path(@medium, @reference, @citation) %> |
<%= link_to 'Back', @reference.class == Title ? new_medium_title_citation_path(@medium, @reference, @citation) : new_medium_title_translated_title_citation_path(@medium, @reference, @citation) %>