<h1><%= ts 'list.ing.records', :what => Source.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Source.model_name.human.titleize %></th>
  </tr>
<% for source in @sources
	 path = edit_source_path(source) %>
  <tr>
    <td><%= link_to(h(source.title), authorized?(path) ? path : source_path(source)) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_source_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => Source.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>