<h1>Processing by <%= @user.screen_name %></h1>
<%= periodically_call_remote(:url => status_media_processes_path(:user_id => @user.id)) %>
<div id="status" class="normal">
<%= render :partial => 'status' %>
</div>
<p>&nbsp;<br/>
<%= link_to 'Media Processes Home', media_processes_path %> |
<% path = media_process_path(@user)
   if authorized?(path, :action => 'destroy') %>
<%=  link_to 'Delete log'.ts, path, method: :delete, data: { confirm: te('delete.confirmation') } %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>