<h1><%= ts('list.ing.records', :what => CopyrightHolder.model_name.human(:count => :many).titleize) %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= CopyrightHolder.model_name.human.titleize.s %></th>
    <th><%= CopyrightHolder.human_attribute_name('website').s %></th>
  </tr>
<% for copyright_holder in @copyright_holders %>
  <tr>
    <td>
<%  path = edit_copyright_holder_path(copyright_holder)
    if authorized? path %>
<%=   link_to h(copyright_holder.title), path %>
<%  else %>
<%=   link_to h(copyright_holder.title), copyright_holder_path(copyright_holder) %>
<%  end %>
	</td>
	<td>
<%= copyright_holder.website %>
	</td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_copyright_holder_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => CopyrightHolder.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>