<h1><%= ts 'new.record', :what => CopyrightHolder.human_name.titleize %></h1>
<%= error_messages_for :copyright_holder %>
<%  form_for(:copyright_holder, :url => copyright_holders_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'create.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), copyright_holders_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %></p>