<h1><%= ts('edit.ing.record', :what => ApplicationFilter.model_name.human.titleize) %></h1>
<%= form_for(@filter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= ApplicationFilter.human_attribute_name('title').s%><br />
    <%= f.text_field :title %>
  </p>
  <p>
      <%= globalized_submit_tag 'update.this' %>
  </p>
<% end %>
<p>
<%  path = application_filters_path(@filters)
    if authorized?(path, :action => 'destroy') %>
<%=   link_to ts('delete.this'), path, method: :delete, data: { confirm: te('delete.confirmation') } %> |
<%  end %>
<%= link_to ts('back.to', :what => t('all.records', :what => ApplicationFilter.model_name.human(:count => :many))), application_filters_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>