<h1><%= ts 'list.ing.records', :what => ApplicationFilter.model_name.human.titleize %></h1>

<table table border="1" class="normal">
  <tr>
    <th><%= ApplicationFilter.model_name.human.titleize.s %></th>
  </tr>
<% for filter in @filters
	 path = edit_application_filter_path(filter) %>
  <tr>
    <td><%= link_to(h(filter.title), authorized?(path) ? path : application_filter_path(filter)) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_application_filter_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => ApplicationFilter.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>