<%= f.error_messages %>
<p>
  <%= translated_title_name.s %><br />
  <%= f.text_field :title, fixed_language_options %>
</p>
<%= f.hidden_field :creator_id %>
<%= display_if_not_blank Caption.human_attribute_name('creator').s, h(@title.creator.fullname).s %>
<p>
  <%= ComplexScripts::Language.human_name.titleize.s %><br />
<%=  f.collection_select(:language_id, @languages, :id, :title) %> (<%= link_to ts('new.record', :what => ComplexScripts::Language.human_name), new_language_path, { :target => '_blank' } %>)
</p>
<%= javascript_tag "$('title_title').focus()" %>