<%= f.error_messages %>
<p>
  <%= translated_title_name.s %><br />
  <%= f.text_area :title, fixed_language_options.merge({:rows => 3}) %>
</p>
<%= f.hidden_field :creator_id %>
<%  creator = @title.creator %>
<%= display_if_not_blank Caption.human_attribute_name('creator').s, h(creator.fullname).s if !creator.nil? %>
<p>
  <%= ComplexScripts::Language.human_name.titleize.s %><br />
<%=  f.collection_select(:language_id, @languages, :id, :title) %> (<%= link_to ts('new.record', :what => ComplexScripts::Language.human_name), new_language_path, { :target => '_blank' } %>)
</p>
<%= javascript_tag "$('title_title').focus()" %>