<h1><%= ts :for, :what => t('list.ing.records', :what => TranslatedTitle.human_name(:count => :many).titleize), :whom => @title.title.titleize %></h1>

<table border="1" class="normal">
  <tr>
    <th><%= TranslatedTitle.human_name.titleize.s %></th>
    <th><%= ComplexScripts::Language.human_name.capitalize.s %></th>
    <th><%= ts :options %></th>
  </tr>

<% @translated_titles.each do |translated_title| %>
  <tr>
    <td><%=h translated_title.title %></td>
    <td><%=h translated_title.language.title %></td>
    <td><%= link_to ts('manage.this'), medium_title_translated_title_path(@medium, @title, translated_title) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% if authorized? hash_for_new_medium_title_path %>
<%=  link_to ts(:for, :what => t('new.record', :what => TranslatedTitle.human_name), :whom => @title.class.human_name), new_medium_title_translated_title_path(@medium, @title) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'translated_titles'} %>
</p>