<% title =  TranslatedTitle.model_name.human.titleize %>
<b><%= ts :in, :what => t(:for, :what => title, :whom => @title.title.titleize), :where => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
<p><%= thumbnail_image_link(@medium) %></p>
<%= display_if_not_blank title.s, h(@translated_title.title).s %>
<%= display_if_not_blank ComplexScripts::Language.model_name.human.titleize.s, h(@translated_title.language.title).s %>
<p>&nbsp;<br/>
<% if authorized? hash_for_edit_medium_title_translated_title_path %>
<%=  link_to ts('edit.this'), edit_medium_title_translated_title_path(@medium, @title, @translated_title) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>