<%= tagged_tinymce_script %>

<h1><%= ts 'edit.ing.record', :what => h(@element.level_name) %></h1>
<%= error_messages_for :element %>
<% if base_language? %>
<%   remote_form_for(:element, :url => element_path(@element), :html => { :method => :put }) do |f| %>
     <p>
       <b><%= ts 'name.for', :what => h(@element.level_name) %></b><br />
<%=    f.text_field :title %>
     </p>
     <p>
       <b><%= AdministrativeUnit.human_attribute_name('description').s %></b><br />
<%=    f.text_area :description, :rows => 5, :class => 'mceEditor' %>
     </p>

	 <p><b><%= AdministrativeUnit.human_attribute_name('is_problematic').s %></b>&nbsp;
<%=    f.radio_button :is_problematic, "true" %> <%= f.label :problematic, ts(:affirmation) %>&nbsp;
<%=    f.radio_button :is_problematic, "false" %> <%= f.label :not_problematic, ts(:negation) %>  
     </p>
<%   if !@administrative_units.nil? %>
	   <p><b><%= AdministrativeUnit.human_attribute_name('parent').s %></b>&nbsp;
<%=      f.select :parent_id, @administrative_units %>
	   </p>
<%   end %>
<%   if !@administrative_levels.nil? %>
	   <p><b><%= AdministrativeLevel.human_name.titleize.s %></b>&nbsp;
<%=      f.collection_select :administrative_level_id, @administrative_levels, :id, :title, :include_blank => false %>
	   </p>
<%   end %>
     <p>
       <b><%= AdministrativeUnit.human_attribute_name('creator').s %></b><br />
<%=    @element.creator.fullname if !@element.creator.nil? %>
     </p>
     <p>
       <b><%= AdministrativeUnit.human_attribute_name('created_on').s %></b><br />
<%=h   @element.created_on %>
     </p>
<%=  f.hidden_field :administrative_level_id %>
<%=  f.hidden_field :parent_id %>
     <p><%= globalized_submit_tag 'update.this' %></p>
<%   end 
   else %>
     <h2><%= ts(LANGUAGES[I18n.default_locale][:title]) %></h2>
<%   locale = I18n.locale
     I18n.locale = I18n.default_locale %>
<%=  display_if_not_blank ts('name.for', :what => @element.level_name), h(@element.title).s %>
<%   I18n.locale = locale
     @element[:title] = @element.title %>
     <h2><%= ts(LANGUAGES[I18n.locale][:title]) %></h2>
<%   remote_form_for(:element, :url => element_path(@element), :html => { :method => :put }) do |f| %>
     <p>
       <b><%= @element.level_name %></b>
<%=    f.text_field :title, language_options %>
     </p>
     <p><%= submit_tag te(:save, :what => t('translat.ion')), language_options(:disabled_with => 'Posting...') %></p>
<%   end %>
<% end %>
<p>&nbsp;<br/>
<%= link_to_remote ts('cancel.record', :what => t('edit.ing.this')), :url => element_path(@element), :method => 'get' %>
</p>