<h1><%= ts 'list.ing.records', :what => Transformation.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Transformation.model_name.human.titleize.s %></th>
    <th><%= FileRenderer.model_name.human.titleize.s %></th>
    <th><%= Transformation.human_attribute_name('path').s %></th>
  </tr>
<% for transformation in @transformations
	 path = edit_transformation_path(transformation) %>
  <tr>
    <td>
<%  if authorized? path %>
<%=   link_to h(transformation.title).s, path %>
<%  else %>
<%=   link_to h(transformation.title).s, transformation_path(transformation) %>
<%  end %>
	</td>
    <td><%=h(transformation.renderer.title).s %></td>
    <td><%=h transformation.path %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_transformation_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => Transformation.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>