<h1><%= ts 'new.record', :what => Transformation.human_name.titleize %></h1>
<%= error_messages_for :transformation %>
<%= form_for(:transformation, :url => transformations_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), transformations_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>