<%= tinymce_assets %>
<%= tinymce %>
<p>
    <b><%= Glossary.human_attribute_name('title').s %></b><br />
<%= f.text_field :title %>
</p>
<p>
    <b><%= Glossary.human_attribute_name('abbreviation').s %></b><br />
<%= f.text_field :abbreviation %>
</p>
<p>
    <b><%= Organization.model_name.human.titleize.s %></b><br />
<%= f.collection_select(:organization_id, @organizations, :id, :title, :include_blank => true) %> (<%= link_to ts('new.record', :what => Organization.model_name.human), new_organization_path, { :target => '_blank' } %>)
</p>  
<p>
    <b><%= Glossary.human_attribute_name('description').s %></b><br />
<%= f.text_area :description, :rows => 5, :class => 'tinymce' %>
</p>
<p>
    <b><%= Glossary.human_attribute_name('is_public').s %></b> <%= f.check_box :is_public %>
</p>