<h1><%= ts('new.record', :what => Glossary.human_name) %></h1>
<%= error_messages_for :glossary %>
<%= form_for(:glossary, :url => glossaries_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), glossaries_path %> |
<%= render :partial => 'main/back_to_admin_or_dicts' %></p>