<%= display_if_not_blank Glossary.human_attribute_name('title').s, h(@glossary.title) %>
<%= display_if_not_blank Glossary.human_attribute_name('abbreviation').s, h(@glossary.abbreviation) %>
<%= display_if_not_blank Glossary.human_attribute_name('description').s, h(@glossary.description) %>
<%  organization = @glossary.organization
    if !organization.nil? 
	  whom = h(organization.title) %>
      <p>
<%=     ts 'copyright.message.provider', :what => t(:material), :whom => whom %>
<%=     ts 'copyright.message.holder', :whom => whom %>
      </p>
<%  end %>
<%= display_if_not_blank Glossary.human_attribute_name('is_public').s, (@glossary.is_public ? ts(:affirmation) : ts(:negation)) %>
<p>&nbsp;<br/>
<%  authorized_only hash_for_edit_glossary_path do %>
<%=   link_to ts('edit.this'), edit_glossary_path(@glossary) %> |
<%  end %>
<%= render :partial => 'persistent_links' %>
</p>