<h1><%= ts :for, :what => t('edit.ing.record', :what => t('associate.ion', :what => Source.human_name.titleize)), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<%= error_messages_for :media_source_association %>
<% form_for(:media_source_association, :url => medium_source_association_path(@medium, @media_source_association), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
<%= globalized_submit_tag 'update.this' %>
  </p>
<% end %>
<p>
<%= render :partial => 'persistent_links' %>
</p>