<p>
    <b><%= Medium.model_name.human.titleize.s %></b><br />    
<%= thumbnail_image_link(@medium) %></td>
</p>
<%= display_if_not_blank Source.model_name.human.titleize.s, h(@media_source_association.source.title).s %>
<%= display_if_not_blank MediaSourceAssociation.human_attribute_name('shot_number').s, @media_source_association.shot_number %>
<p>&nbsp;<br/>
<% path = edit_medium_source_association_path(@medium, @media_source_association)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>