<p>
    <b><%= Medium.human_name.titleize.s %></b><br />    
<%= thumbnail_image_link(@medium) %></td>
</p>
<%= display_if_not_blank Source.human_name.titleize.s, h(@media_source_association.source.title).s %>
<%= display_if_not_blank MediaSourceAssociation.human_attribute_name('shot_number').s, @media_source_association.shot_number %>
<p>&nbsp;<br/>
<% authorized_only hash_for_edit_medium_source_association_path do %>
<%=  link_to ts('edit.this'), edit_medium_source_association_path(@medium, @media_source_association) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>