<p>
  <b>Title:</b>
  <%=h @status.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @status.description %>
</p>

<p>
  <b>Order:</b>
  <%=h @status.position %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>