<p>
  <b>Status.human_attribute_name('title').s:</b>
  <%=h @status.title %>
</p>

<p>
  <b>Status.human_attribute_name('description').s:</b>
  <%=h @status.description %>
</p>

<p>
  <b>Status.human_attribute_name('position').s:</b>
  <%=h @status.position %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to ts('back.to', :what => t('all.these', :what => Status.human_name(:count => :many))), statuses_path %>