<h1><%= ts 'list.ing.records', :what => RecordingOrientation.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= RecordingOrientation.model_name.human.titleize %></th>
  </tr>
<% for recording_orientation in @recording_orientations
	 path = edit_recording_orientation_path(recording_orientation) %>
  <tr>
    <td><%= authorized?(path) ? link_to(h(recording_orientation.title), path) : link_to(h(recording_orientation.title), recording_orientation_path(recording_orientation)) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_recording_orientation_path
   if authorized? path %>
<%= link_to ts('new.record', :what => RecordingOrientation.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>
