<h1><%= ts 'new.record', :what => RecordingOrientation.human_name.titleize %></h1>
<%= error_messages_for :recording_orientation %>
<%  form_for(@recording_orientation) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'create.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), recording_orientations_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %></p>