<% if margin_depth.nil?
     margin_depth = expanded.ancestors.size
   end %>
<%= (Util::MARGIN * margin_depth).html_safe %>
<% childless = expanded.is_childless?
   if childless %>
     &#9674;
<% else %>
<%=  link_to '-', contract_topic_path(expanded.id, :margin_depth => margin_depth), :remote => true, :class => 'collapsable' %>
<% end
   selected = !@topic.nil? && (expanded.id == @topic.id.to_i)
   if selected %>
     <span class="selected_branch">
<% end %>
<%= link_to h(expanded.title).s, topic_path(expanded.id, :margin_depth => margin_depth), :remote => true %> (<%= number_with_delimiter expanded.media_count, :delimiter => ',' %>)
<% if selected %>
     </span>
<% end %>
<br/>
<% unless childless
	children = expanded.children.select{|element| element.media_count > 0 } %>
<%= render :partial => 'topics_index', :locals => {:margin_depth => margin_depth+1, :topics => children} %>
<% end %>