<% if !@pictures.nil? || !@videos.nil? || !@documents.nil?
     if !@topic.nil? %>
	   <h2><%= Medium.human_name(:count => :many).titleize.s %> Associated with <%= @topic.title %></h2>
<%   end %>
<%=  render :partial => 'media/index' %>
<% elsif !@media.nil? %>
<%=  render :partial => 'media/paged_index_full' %>
<% end %>
<p>
<%= link_to ts(:in, :what => @topic.title, :where => Topic.human_name(:count => :many).titleize), Category.element_url(@topic.id, :format => 'html') %>
<%  if authorized?(hash_for_sponsor_path(:action => 'destroy')) && !@topic.nil? && @topic.media_count - @topic.media_category_associations.size <= 0 %>
      | <%= link_to "Delete all associations with #{Topic.human_name}", topic_path(@topic), :confirm => te('delete.confirmation'), :method => :delete %>
<%  end %>
</p>
