<h1><%= ts('new.record', :what => QualityType.human_name.titleize) %></h1>
<%= error_messages_for :quality_type %>
<%= form_for(:quality_type, :url => quality_types_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('back.this'), quality_types_path %>
</p>