<h1><%= ts('new.record', :what => AdministrativeLevel.human_name.titleize) %></h1>
<%= error_messages_for :administrative_level %>
<%  form_for(:administrative_level, :url => country_administrative_levels_path(@country)) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'create.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('cancel.record', :what => t('new.this')), country_administrative_levels_path(@country) %> |
<%= link_to ts('back.to', :what => h(@country.title)), country_path(@country) %> |
<%= render :partial => 'main/back_to_admin_or_media' %></p>
