<p>
    <b><%= ReproductionType.human_attribute_name('title').s %></b><br />
<%= f.text_field :title %>
</p>
<p>
    <b><%= ReproductionType.human_attribute_name('order').s %></b><br />
<%= f.text_field :order %>
</p>
<p>
    <b><%= ReproductionType.human_attribute_name('website').s %></b><br />
<%= f.text_field :website %>
</p>