<h1><%= ts('edit.ing.record', :what => ReproductionType.model_name.human(:count => :many).titleize) %></h1>
<%= error_messages_for :reproduction_type %>
<%= form_for(:reproduction_type, :url => reproduction_type_path(@reproduction_type), :html => {:method => :put}) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'update.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>