<h1><%= ts 'list.ing.records', :what => ReproductionType.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
  	<th><%= ReproductionType.human_attribute_name('order').s %></th>
    <th><%= ReproductionType.model_name.human.titleize.s %></th>
	<th><%= ReproductionType.human_attribute_name('website').s %></th>
  </tr>
<% for reproduction_type in @reproduction_types
	 path = edit_reproduction_type_path(reproduction_type) %>
  <tr>
  	<td><%= reproduction_type.order %></td>
    <td>
<%    if authorized? path %>
<%=     link_to h(reproduction_type.title), path %>
<%    else %>
<%=     link_to h(reproduction_type.title), reproduction_type_path(reproduction_type) %>
<%    end %>
	</td>
	<td><%=h reproduction_type.website %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<%= link_to ts('new.record', :what => ReproductionType.model_name.human), new_reproduction_type_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>