<%= form_for(@metadata_source) do |f| %>
  <% if @metadata_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metadata_source.errors.count, "error") %> prohibited this metadata_source from being saved:</h2>
      <ul>
      <% @metadata_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <p>
    <b><%= f.label :creator_id %></b><br />
    <%= f.select(:creator_id, AuthenticatedSystem::Person.order('fullname').collect {|p| [ p.fullname, p.id ] }, { :include_blank => true }) %>
  </p>
  </div>
  <div class="field">
  <p>
    <b><%= f.label :filename %></b><br />
    <%= f.text_field :filename %>
  </p>
  </div>
  <div class="actions">
  <p>
    <%= f.submit %>
  </p>
  </div>
<% end %>