<%= form_for(@metadata_source) do |f| %>
  <% if @metadata_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metadata_source.errors.count, "error") %> prohibited this metadata_source from being saved:</h2>
      <ul>
      <% @metadata_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= display_if_not_blank MetadataSource.human_attribute_name('creator', :count => :many).titleize.s, @metadata_source.creators.collect(&:fullname).join(', ') %>
  <div class="field">
  <p>
    <b><%= f.label :filename %></b><br />
    <%= f.text_field :filename %>
  </p>
  </div>
  <div class="actions">
  <p>
    <%= f.submit %>
  </p>
  </div>
<% end %>