<h1><%= ts 'list.ing.records', :what => MetadataSource.model_name.human(:count => :many).s %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= MetadataSource.human_attribute_name('filename').titleize.s %></th>
    <th><%= MetadataSource.human_attribute_name('creator', :count => :many).titleize.s %></th>
  </tr>
<% @metadata_sources.each do |metadata_source|
	 path = edit_metadata_source_path(metadata_source) %>
  <tr>
    <td><%= link_to(metadata_source.filename, authorized?(path) ? path : metadata_source) %></td>
    <td><%= metadata_source.creators.collect(&:fullname).join(', ') %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>