<p id="notice"><%= notice %></p>
<%= display_if_not_blank MetadataSource.human_attribute_name('filename').titleize.s, @metadata_source.filename %>
<%= display_if_not_blank(MetadataSource.human_attribute_name('creator').titleize.s, @metadata_source.creator.fullname) if !@metadata_source.creator.nil? %>
<p>&nbsp;<br/>
<% if authorized? hash_for_edit_metadata_source_path %>
<%=  link_to ts('edit.this'), edit_metadata_source_path(@metadata_source) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>