<%  @medium = @workflow.medium %>
<h1><%= ts :for, :what => Workflow.human_name.titleize, :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<p>
    <b><%= Medium.human_name.titleize.s %></b><br />    
<%= thumbnail_image_link(@medium) %></td>
</p>
<% form_for(:status, :url => statuses_path(@statuses)) do |f| %>
<%=    render :partial => 'form', :locals => {:f => f} %>
<% end %>
<%= render :partial => 'show', :locals => {:workflow => @workflow} %>
<p>
<% authorized_only hash_for_edit_medium_workflow_path do %>
<%=  link_to ts('edit.this'), edit_medium_workflow_path(@medium) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>
