	<tr>
		<td style='text-align: right; font-size:11pt;font-weight:bold;font-size:10pt;white-space:nowrap'><%= f.hidden_field :medium_id %></td>
		<td style=''><%= thumbnail_image_link(@medium) %></td>
	</tr>
	<tr>
		<td> </td>
	</tr>
	<tr>
		<td style='background-color: #f1f1f1;text-align: right; font-size:10pt;border: 1pt solid #ccc; border-right-style: none'>Topic Filter</td>
		<td style='width:100%;background-color: #f1f1f1;border: 1pt solid #ccc; border-left-style: none'><%= topic_filter %></td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr id='characteristic-row'>
		<td style='text-align:right;font-weight:bold'>Characteristic</td>
		<td><%= category_selector (@media_category_association.root || nil), :media_category_association, :category, :hasTree => 'false', :singleSelectionTree => 'true' %></td>
	</tr>
	<tr class='annotation'>
		<td style='text-align:right;'><%= MediaCategoryAssociation.human_attribute_name(:string_value).s %></td>
		<td><%= f.text_field :string_value, :style => 'padding:3px; width: 300px' %></td>
	</tr>
	<tr class='annotation'>
		<td style='text-align:right;'><%= MediaCategoryAssociation.human_attribute_name(:numeric_value).s %></td>
		<td><%= f.text_field :numeric_value, :style => 'padding:3px; width: 300px' %></td>
	</tr>