<% topic = @media_category_association.category
   topic_name = topic.root.title.titleize %>
<p><b><%= ts :for, :what => t('associate.ion', :what => topic_name), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b></p>
<p>
<%=  thumbnail_image_link(@medium) %>
</p>
<p><%= display_if_not_blank ts('name.for', :what => topic_name), topic.ancestors.collect(&:title).reverse.join(' > ') %></p>
<%= display_if_not_blank MediaCategoryAssociation.human_attribute_name(:string_value).s, h(@media_category_association.string_value) %>
<%= display_if_not_blank MediaCategoryAssociation.human_attribute_name(:numeric_value).s, h(@media_category_association.numeric_value) %>
<p><%= link_to ts('edit.this'), edit_association_path(@medium, topic, @media_category_association) %> |
<%= render :partial => 'persistent_links' %></p>