<%= tagged_tinymce_script %>

<p>
     <b><%= Medium.human_name.titleize.s %></b><br />
<%=  link_to image_tag(@medium.thumbnail_image.public_filename), medium_path(@medium) %>
</p>
<p>
     <b><%= Description.human_attribute_name('title').s %></b><br />
<%=  f.text_area :title, :rows => 5, :class => 'mceEditor' %>
</p>
<p>
     <b><%= DescriptionType.human_name(:what => Description.human_name).titleize.s %></b><br />
<%=  f.collection_select(:description_type_id, @description_types, :id, :title) %> (<%= link_to ts('new.record', :what => DescriptionType.human_name(:what => Description.human_name)), new_description_type_path, { :target => '_blank' } %>)
</p>
<%=  f.hidden_field :creator_id %>
<% if !@description.creator.nil? %>
<%=  display_if_not_blank Description.human_attribute_name('creator').s, h(@description.creator.fullname).s %>
<% end %>
<p>
     <b><%= ComplexScripts::Language.human_name.titleize.s %></b><br />
<%=  f.collection_select(:language_id, @languages, :id, :title) %> (<%= link_to ts('new.record', :what => ComplexScripts::Language.human_name), new_language_path, { :target => '_blank' } %>)
</p>