<h1><%= ts :for, :what => t('list.ing', :what => Description.human_name(:count => :many).titleize), :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<table border="1" class="normal">
  <tr>
    <th><%= Description.human_name.titleize.s %></th>
    <th><%= DescriptionType.human_name(:what => Description.human_name).titleize.s %></th>
    <th><%= Description.human_attribute_name('creator').s %></th>
    <th><%= ComplexScripts::Language.human_name.s %></th>
    <th><%= ts(:options) %></th>
  </tr>
<% for description in @descriptions
     description_type = description.description_type %>
  <tr>
    <td><%= description.title.s %></td>
<%  if description_type.nil? %>
      <td align="center">-</td>
<%  else %>
      <td><%= h(description_type.title).s %></td>
<%  end %>
<% if description.creator.nil? %>
    <td>&nbsp;</td>
<% else %>
    <td><%=h description.creator.fullname %></td>
<% end %>
    <td><%= h(description.language.title).s %></td>
    <td><%= link_to ts('manage.this'), medium_description_path(@medium, description) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_medium_description_path do %>
<%=  link_to ts('new.record', :what => Description.human_name), new_medium_description_path(@medium) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'descriptions'} %>
</p>