<h1><%= ts :for, :what => Description.human_name.titleize, :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<% if !@description.title.blank? %>
     <p><b><%= Description.human_attribute_name('title').s %></b></p>
<%=  @description.title.s %>
<% end
   description_type = @description.description_type
   if !description_type.nil? %>
<%=  display_if_not_blank DescriptionType.human_name(:what => Description.human_name).titleize.s, h(description_type.title).s %>
<% end
   creator = @description.creator
   if !creator.nil? %>
<%=  display_if_not_blank Description.human_attribute_name('creator').s, h(creator.fullname).s %>
<% end %>
<%= display_if_not_blank ComplexScripts::Language.human_name.titleize.s, h(@description.language.title).s %>
<p>&nbsp;<br/>
<% authorized_only hash_for_edit_medium_description_path do %>
<%=  link_to ts('edit.this'), edit_medium_description_path(@medium, @description) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>