<h1><%= ts :for, :what => Description.model_name.human.titleize, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<% if !@description.title.blank? %>
     <p><b><%= Description.human_attribute_name('title').s %></b></p>
<%=  @description.title.s %>
<% end
   description_type = @description.description_type
   if !description_type.nil? %>
<%=  display_if_not_blank DescriptionType.model_name.human(:what => Description.model_name.human).titleize.s, h(description_type.title).s %>
<% end
   creator = @description.creator
   if !creator.nil? %>
<%=  display_if_not_blank Description.human_attribute_name('creator').s, h(creator.fullname).s %>
<% end %>
<%= display_if_not_blank ComplexScripts::Language.model_name.human.titleize.s, h(@description.language.title).s %>
<p>&nbsp;<br/>
<% path = edit_medium_description_path(@medium, @description)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>