<% if @margin_depth.nil?
     @margin_depth = @element.ancestors.size
   end %>
<%= Util::MARGIN * @margin_depth %>
<% children = @element.children.reject{ |e| e.count_inherited_media==0 } %>
<span class="selected">
<% if !children.empty? %>
<%=  link_to_remote '-', { :update => "#{@element.id}_div", :url => {:controller => @controller_name, :action => 'contract_unit', :id => @element.id, :margin_depth => @margin_depth} }, { :class => 'collapsable' } %>
<% end %>
<%= "#{link_to_remote h(@element.title).s, :url => media_path(@element_name.to_sym => @element), :method => 'get'} (#{number_with_delimiter(@element.count_inherited_media, :delimiter => ',')})" %>
</span>
<% @margin_depth += 1 
   for @element in children %>
     <div id="<%= "#{@element.id}_div" %>">
<%   if @current.nil? || @current.empty? %>
<%=    render :partial => 'main/hierarchy/mixed_associations/contracted' %>
<%   else
       index = @current.index(@element.id)
       if index.nil? %>
<%=      render :partial => 'main/hierarchy/mixed_associations/contracted' %>
<%     else
         @current.delete_at(index)
         current_depth = @margin_depth %>
<%=      render :partial => 'main/hierarchy/mixed_associations/expanded' %>
<%       @margin_depth = current_depth
       end 
     end %>
     </div>
<% end %>