<h1><%= ts 'list.ing.records', :what => Publisher.human_name(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Publisher.human_name.titleize.s %></th>
    <th><%= Country.human_name.titleize.s %></th>
  </tr>
<% can_edit = authorized? hash_for_edit_publisher_path
   for publisher in @publishers %>
  <tr>
    <td>
<%  if can_edit %>
<%=   link_to h(publisher.title), edit_publisher_path(publisher) %>
<%  else %>
<%=   link_to h(publisher.title), publisher_path(publisher) %>
<%  end %>
	</td>
    <td><%=h(publisher.country.title) if !publisher.country.nil? %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_publisher_path do %>
<%=  link_to ts('new.record', :what => Publisher.human_name), new_publisher_path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>
