<h1><%= ts 'list.ing.records', :what => Publisher.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Publisher.model_name.human.titleize.s %></th>
    <th><%= Publisher.human_attribute_name('country_id').s %></th>
  </tr>
<% for publisher in @publishers
	 path = edit_publisher_path(publisher) %>
  <tr>
    <td>
<%=   link_to(h(publisher.title), authorized?(path) ? path : publisher_path(publisher)) %>
	</td>
    <td><%=h(publisher.country.header) if !publisher.country.nil? %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_publisher_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => Publisher.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>