<p>
    <b><%= Medium.human_name.titleize.s %></b><br />
<%= thumbnail_image_link(@medium) %></td>
<%= f.hidden_field :medium_id %>
</p>
<p>
    <b><%= Keyword.human_name.titleize.s %></b><br />
<%= f.collection_select(:keyword_id, @keywords, :id, :title) %> (<%= link_to ts('new.record', :what => Keyword.human_name), new_keyword_path, { :target => '_blank' } %>)
</p>