<p>
  <b><%= ts :for, :what => Keyword.model_name.human.titleize, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
</p>
<p>
<%=  thumbnail_image_link(@medium) %>
</p>
<%= display_if_not_blank Keyword.model_name.human.titleize.s, link_to(h(@keyword.title).s, keyword_path(@keyword)) %>
<p>&nbsp;<br/>
<% path = edit_media_keyword_association_path(@media_keyword_association)
   if authorized? path %>
<%= link_to 'Edit'.ts, path %> |
<%= render :partial => 'persistent_links' %>
</p>