<% @medium = @media_publisher.medium %>
<h1><%= ts :for, :what => t('edit.ing.record', :what => MediaPublisher.model_name.human.titleize), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<%= error_messages_for :workflow %>
<%= form_for(:media_publisher, :url => medium_media_publisher_path(@medium), :method => :put) do |f| %>
	<p>
	  <b><%= Medium.model_name.human.titleize.s %></b><br />    
<%=   f.hidden_field :medium_id %>
<%=   thumbnail_image_link(@medium) %></td>
	</p>
	<p>
	  <b><%= MediaPublisher.human_attribute_name('publisher').s %></b><br />
<%=   f.collection_select(:publisher_id, @publishers, :id, :title) %> (<%= link_to ts('new.record', :what => Publisher.model_name.human), new_publisher_path, { :target => '_blank' }%>)
	</p>
	<p>
	  <b><%= MediaPublisher.human_attribute_name('date').s %></b><br />
<%= f.date_select :date %>
	</p>
	<p>
<%=   globalized_submit_tag 'update.this' %>
    </p>
<%  end %>
<p>
<%= render :partial => 'persistent_links' %>
</p>
