<b><%= ts(:for, :what => MediaPublisher.model_name.human.titleize, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}") %></b>
<%= form_for(:publisher, :url => publishers_path(@publishers)) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
<%  end %>
<p>&nbsp;<br/>
<% path = edit_medium_media_publisher_path(@medium)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>
