<h1><%= ts 'list.ing.records', :what => CaptureDeviceMaker.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= CaptureDeviceMaker.model_name.human.titleize.s %></th>
    <th><%= CaptureDeviceMaker.human_attribute_name('exif_tag').s %></th>
    <th><%= CaptureDeviceModel.model_name.human(:count => :many).titleize.s %></th>
  </tr>
<% for capture_device_maker in @capture_device_makers
	 path = edit_capture_device_maker_path(capture_device_maker) %>
  <tr>
    <td><%= authorized?(path) ? link_to(h(capture_device_maker.title), path) : link_to(h(capture_device_maker.title), capture_device_maker_path(capture_device_maker)) %></td>
    <td><%= capture_device_maker.exif_tag %></td>
    <td>
<%= capture_device_maker.capture_device_models.collect do |model|
      path = edit_capture_device_maker_model_path(capture_device_maker, model)
      authorized?(path) ? link_to(h(model.title), path) : link_to(h(model.title), capture_device_maker_model_path(capture_device_maker, model))
	end .join(', ').html_safe %></td>
<%  path = new_capture_device_maker_model_path(capture_device_maker)
    if authorized? path %>
	  <td><%= link_to ts('new.record', :what => CaptureDeviceModel.model_name.human), path %></td>
<% end %>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% path = new_capture_device_maker_path
   if authorized? path %>
<%=  link_to ts('new.record', :what => CaptureDeviceMaker.model_name.human), path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>