<%= display_if_not_blank CaptureDeviceMaker.human_attribute_name('title').s, h(@capture_device_maker.title).s %>
<%= display_if_not_blank CaptureDeviceMaker.human_attribute_name('exif_tag').s, h(@capture_device_maker.exif_tag).s %>
<%= display_if_not_blank CaptureDeviceModel.model_name.human(:count => :many).s, capture_device_maker.capture_device_models.collect{|model| h(model.title)}.join(', ') %>
<p>&nbsp;<br/>
<% path = edit_capture_device_maker_path(@capture_device_maker)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>