<%= display_if_not_blank CaptureDeviceMaker.human_attribute_name('title').s, h(@capture_device_maker.title).s %>
<%= display_if_not_blank CaptureDeviceMaker.human_attribute_name('exif_tag').s, h(@capture_device_maker.exif_tag).s %>
<%= display_if_not_blank CaptureDeviceModel.human_name(:count => :many).s, capture_device_maker.capture_device_models.collect{|model| h(model.title)}.join(', ') %>
<p>&nbsp;<br/>
<% authorized_only hash_for_edit_capture_device_maker_path do %>
<%=  link_to ts('edit.this'), edit_capture_device_maker_path(@capture_device_maker) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>