<h1><%= ts 'list.ing.records', :what => Sponsor.human_name(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Sponsor.human_name.titleize.s %></th>
  </tr>
<% can_edit = authorized? hash_for_edit_sponsor_path
   for sponsor in @sponsors %>
  <tr>
    <td>
<%    if can_edit %>
<%=     link_to h(sponsor.title).s, edit_sponsor_path(sponsor) %>
<%    else %>
<%=     link_to h(sponsor.title).s, sponsor_path(sponsor) %>
<%    end %>
	</td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<%= link_to ts('new.record', :what => Sponsor.human_name), new_sponsor_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>