<%= f.fields_for :web_address do |web_fields| %>
      <p><b><%= WebAddress.human_attribute_name('url').s %></b><br />
<%=   web_fields.text_field :url %></p>
      <p><b><%= WebAddress.human_attribute_name('parent_resource_id').s %></b><br />
<%=   web_fields.text_field :parent_resource_id %></p>
<%  end %>