<h1><%= ts 'new.record', :what => 'Online Resource' %></h1>
<%= error_messages_for :medium %>
<%= form_for(@medium, :as => :medium, :url => online_resources_path) do |f| %>
<%=   render :partial => 'online_resources/form', :locals => {:f => f} %>
<%=   render :partial => 'media/form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p><%= link_to ts('back.to', :what => t('all.records', :what => Medium.model_name.human(:count => :many))), media_path %></p>