<p>
<%=  link_to image_tag(@medium.thumbnail_image.public_filename), medium_path(@medium) %>
</p>
<p>
     <b><%= caption_title.s %></b><br />
<%=  f.text_field :title, fixed_language_options %>
</p>
<p>  
<%   description_type_title = DescriptionType.human_name(:what => caption_title) %>
     <b><%= description_type_title.titleize.s %></b><br />
<%=  f.collection_select(:description_type_id, @description_types, :id, :title, :include_blank => true) %> (<%= link_to ts('new.record', :what => description_type_title), new_description_type_path, { :target => '_blank' } %>)
</p>
<%=  f.hidden_field :creator_id %>
<% if !@caption.creator.nil? %>
<%=  display_if_not_blank Caption.human_attribute_name('creator').s, h(@caption.creator.fullname).s %>
<% end %>
<p>
     <b><%= ComplexScripts::Language.human_name.titleize.s %></b><br />
<%=  f.collection_select(:language_id, @languages, :id, :title) %> (<%= link_to ts('new.record', :what => ComplexScripts::Language.human_name), new_language_path, { :target => '_blank' } %>)
</p>
<%= javascript_tag "$('caption_title').focus()" %>