<% caption_title = Caption.model_name.human.capitalize %>
<b><%= ts :for, :what => caption_title, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<%= display_if_not_blank caption_title.s, @caption.title.s %>
<% if !@caption.description_type.nil? %>
<%=  display_if_not_blank DescriptionType.column_name(:what => caption_title).titleize.s, h(@caption.description_type.title).s %>
<% end 
   if !@caption.creator.nil? %>
<%= display_if_not_blank Caption.human_attribute_name('creator').s, h(@caption.creator.fullname).s %>
<% end %>
<%= display_if_not_blank ComplexScripts::Language.model_name.human.titleize.s, h(@caption.language.title).s %>
<p>&nbsp;<br/>
<% path = edit_medium_caption_path(@medium, @caption)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>