<h1><%= ts 'list.ing.records', :what => Document.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
  </tr>
<% for document in @documents %>
  <tr>
    <td><%= link_to ts('show.this'), document_path(document) %></td>
    <td><%= link_to ts('edit.this'), edit_document_path(document) %></td>
    <td><%= link_to ts('delete.this'), document_path(document), method: :delete, data: { confirm: te('delete.confirmation') } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to ts('new.record', :what => Document.model_name.human), new_document_path %>