<h1><%= ts('new.record', :what => Document.human_name.titleize) %></h1>
<%= error_messages_for :medium %>
<%= error_messages_for :document %>
<%  form_for(:medium, :url => documents_path, :html => {:multipart => true}) do |f| %>
      <p><b><%= Typescript.human_attribute_name('uploaded_data').s %></b><br />
<%=   file_field :typescript, :uploaded_data %></p>
      <p><b><%= Typescript.human_attribute_name('thumbnail').s %></b><br />
<%=   file_field :thumbnail, :uploaded_data %></p>
<%=   render :partial => 'media/form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'create.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to ts('back.this'), media_path %></p>