<p>
<%= link_to image_tag(@medium.thumbnail_image.public_filename), medium_path(@medium) %>
</p>
<%= f.hidden_field :medium_id %>
<p>
  <b><%= Organization.human_name.titleize.s %></b><br />
  <%= f.collection_select(:organization_id, @organizations, :id, :title) %> (<%= link_to ts('new.record', :what => Organization.human_name), new_organization_path, { :target => '_blank' } %>)
</p>
<p>
  <b><%= Project.human_name.titleize.s %></b><br />
  <%= f.collection_select(:project_id, @projects, :id, :title, :include_blank => true) %> (<%= link_to ts('new.record', :what => Project.human_name), new_project_path, { :target => '_blank' } %>)
</p>
<p>
  <b><%= Sponsor.human_name.titleize.s %></b><br />
  <%= f.collection_select(:sponsor_id, @sponsors, :id, :title, :include_blank => true) %> (<%= link_to ts('new.record', :what => Sponsor.human_name), new_sponsor_path, { :target => '_blank' } %>)
</p>