<h1><%= ts :for, :what => ts('edit.ing.record', :what => Affiliation.human_name.titleize), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<%= error_messages_for :affiliation %>
<%= form_for(:affiliation, :url => medium_affiliation_path(@medium, @affiliation), :method => :put) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'update.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>