<h1><%= ts :for, :what => t('list.ing.records', :what => Affiliation.human_name(:count => :many).titleize), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<table border="1" class="normal">
  <tr>
    <th><%= Sponsor.human_name.s %></th>
    <th><%= Organization.human_name.s %></th>
    <th><%= Project.human_name.s %></th>
    <th><%= ts(:options) %></th>
  </tr>
<% for affiliation in @affiliations %>
  <tr>
<%   if !affiliation.sponsor.blank? %>
       <td><%= h(affiliation.sponsor.title).s %></td>
<%   else %>
       <td>&nbsp;</td>
<%   end   %>
<%   if !affiliation.organization.blank? %>
      <td><%= h(affiliation.organization.title).s %></td>
<%   else %>
      <td>&nbsp;</td>
<%   end %>
<%   if !affiliation.project.blank? %>
      <td><%= h(affiliation.project.title).s %></td>
<%   else  %>
      <td>&nbsp;</td>
<%   end   %>
     <td><%= link_to ts('manage.this'), medium_affiliation_path(@medium, affiliation) %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% if authorized? hash_for_new_medium_affiliation_path %>
<%=  link_to ts('new.record', :what => Affiliation.human_name), new_medium_affiliation_path(@medium) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'affiliations'} %>
</p>