<h1><%= ts :for, :what => ts('new.record', :what => Affiliation.model_name.human.titleize), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<%= error_messages_for :affiliation %>
<%= form_for(:affiliation, :url => medium_affiliations_path(@medium)) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'creat.e.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'affiliations'} %></p>