<h1><%= ts 'edit.ing.record', :what => Project.model_name.human.titleize %></h1>
<%= error_messages_for :project %>
<%= form_for(:project, :url => project_path(@project), :method => :put) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'update.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>