<h1><%= ts 'list.ing.records', :what => Project.model_name.human(:count => :many) %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Project.model_name.human.titleize.s %></th>
  </tr>
<% for project in @projects
	 path = edit_project_path(project) %>
  <tr>
    <td>
<%  if authorized? path %>
<%=   link_to h(project.title).s, edit_project_path(project) %>
<%  else %>
<%=   link_to h(project.title).s, project_path(project) %>
<%  end %>
    </td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<%= link_to ts('new.record', :what => Project.model_name.human), new_project_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>