<% element_level_name = h(@element.level_name) %>
<h1><%= ts('edit.ing.record', :what => element_level_name) %></h1>
<%= error_messages_for :element %>
<% if base_language? %>
<%   remote_form_for(:element, :url => element_path(@element), :html => { :method => :put }) do |f| %>
     <p>
       <b><%= ts 'name.for', :what => element_level_name %></b><br />
<%=    f.text_field :title %>
     </p>
     <p>
<%     parent = @element.parent
       level_name = parent.nil? ? @human_name.capitalize : parent.level_name 
       end %>
       <b><%= ts 'parent.of', :who => h(level_name) %></b><br />
<%=    f.select 'parent_id', @elements, { :include_blank => true } %>
     </p>
     <p>
       <b><%= AdministrativeUnit.human_attribute_name 'description' %></b><br />
<%=    f.text_area :description, :rows => 5 %>
     </p>
<%=  f.hidden_field :creator_id %>
<%   if !@element.creator.nil? %>
<%=    display_if_not_blank AdministrativeUnit.human_attribute_name('creator'), h(@element.creator.fullname).s %>
<%   end %>
     <p>
       <b><%= AdministrativeUnit.human_attribute_name 'created_on' %></b><br />
<%=h   @element.created_on %>
     </p>
     <p><%= globalized_submit_tag 'update.this' %></p>
<%   end 
   else %>
    <h2><%= ts(LANGUAGES[I18n.default_locale][:title]) %></h2>
<%   locale = I18n.locale
     I18n.locale = I18n.default_locale %>
<%=  display_if_not_blank ts('name.for', :what => @element.level_name, :locale => I18n.default_locale), h(@element.title).s %>
<%   I18n.locale = locale
     @element[:title] = @element.title %>
     <h2><%= ts(LANGUAGES[I18n.locale][:title]) %></h2>
<%   remote_form_for(:element, :url => element_path(@element), :html => { :method => :put }) do |f| %>
     <p>
       <b><%= ts 'name.for', :what => @element.level_name %></b>
<%=    f.text_field :title, language_options %>
     </p>
     <p><%= submit_tag te(:save, :what => t('translat.ion')), language_options(:disabled_with => 'Posting...') %></p>
<%   end %>
<% end %>
<p>&nbsp;<br/>
<%= link_to_remote ts('cancel.record', :what => t('edit.ing.this')), :url => element_path(@element), :method => 'get' %></p>