<% if @child==@element %>
     <span class="selected_branch">
<% end %>
<%= Util::MARGIN * @margin_depth %>
<%= link_to_remote '-', { :update => "#{@child.id}_div", :url => contract_element_path(@child.id, :margin_depth => @margin_depth), :method => 'get' }, { :class => 'collapsable' } %>
<%= link_to_remote h(@child.title).s, :url => element_path(@child), :method => 'get' %>
<% base_language_only do
     authorized_only hash_for_new_element_path do 
       next_level_name = @child.next_level_name
       if !next_level_name.blank? %>
         (<%= link_to_remote ts('new.record', :what => h(next_level_name.downcase)), :url => new_element_path(:parent_id => @child), :method => 'get', :update => 'secondary' %>)
<%     end
     end
   end
   if @child==@element %>
     </span>
<% end %>
<br/>
<% @margin_depth += 1
   children = @child.children.find(:all, :order => 'title')
   for @child in children %>
     <div id="<%= "#{@child.id}_div" %>">
<%   if @current.nil? || @current.empty? %>
<%=    render :partial => 'main/hierarchy/admin/contracted' %>
<%   else
       index = @current.index(@child.id)
       if index.nil? %>
<%=      render :partial => 'main/hierarchy/admin/contracted' %>
<%     else
         @current.delete_at(index)
         current_depth = @margin_depth %>
<%=      render :partial => 'main/hierarchy/admin/expanded' %>
<%       @margin_depth = current_depth
       end 
     end %>
     </div>
<% end %>