<p>
    <b><%= Medium.human_name.titleize.s %></b><br />
<%= f.hidden_field :medium_id %>
<%= f.hidden_field :root_id %>
<%= thumbnail_image_link(@medium) %></td>
</p>
<p>
<%  root = @model.root %>
    <b><%= root.title %></b><br />
<%= category_selector(root, :association, :category, false) %>
</p>