<h1><%= ts :for, :what => t('edit.ing.record', :what => t('associate.ion', :what => t(@model.model_name.underscore).titleize)), :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<%= error_messages_for :association %>
<%  form_for(:association, :url => association_path(@association), :html => { :method => :put }) do |f| %>
<%=   render :partial => 'main/hierarchy/associations/form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'update.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= render :partial => 'main/hierarchy/associations/persistent_links' %></p>