<h1><%= ts :for, :what => t('list.ing.records', :what => t(@model.model_name.underscore, :count => :many).titleize), :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<table border="1" class="normal">
  <tr>
    <th><%= t(@model.model_name.underscore).titleize.s %></th>
    <th colspan="2"><%= ts :options %></th>
  </tr>
<% for association in @associations %>
<%   element = association.category %>
     <tr>
       <td><%= h(([element] + element.ancestors).collect(&:title).reverse.join(' > ')) %></td>
       <td><%= link_to ts('manage.this'), edit_association_path(association) %></td>
       <td><%= link_to ts('back.to', :what => Medium.human_name(:count => :many)), element_path(element) %></td>
     </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<%= link_to(ts('associate.to', :what => t(:another, :what => t(@model.model_name.underscore))), new_association_path) %> |
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => @model.anchor_name} %>
</p>