<ul>
<% medium = Medium.new
   medium.id = @medium.id
   for title in titles 
     translated_titles = title.translated_titles %>
     <li><p><%= title.title.s %> (<%=h title.language.title %>)</p>
<%     if !translated_titles.empty? %>
         <ul class="normal"><% for translated_title in translated_titles %>
	       <li><%= h(translated_title.title).s %> (<%= h(translated_title.language.title) %>
<%         path = edit_medium_title_translated_title_path(@medium, title, translated_title)
           if authorized? path %>
	         ; <%= link_to ts('edit.this'), path %>
<%         end %>
           ; <%= render :partial => 'titles/citation_link', :locals => {:polymorphic_stack => [medium, title, translated_title]} %>)</li>
<% 	     end %></ul>
<%     end %>
       <p>
<%=    render :partial => 'titles/citation_link', :locals => {:polymorphic_stack => [medium, title]} %>
<%     path = edit_medium_title_path(@medium, title)
       if authorized? path %>
         | <%= link_to ts('edit.this'), path %>
<%     end
       path = new_medium_title_translated_title_path(@medium, title)
       if authorized? path %>
         | <%= link_to ts('new.record', :what => TranslatedTitle.model_name.human), path %>
<%     end %>
       </p>
     </li>
<% end %>
</ul>