<h1><%= ts(:for, :what => t('list.ing.records', :what => Title.human_name(:count => :many).titleize), :whom => "#{Medium.human_name.titleize} #{@medium.id}") %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<%= render :partial => 'index', :locals => {:titles => @titles} %>
<p>&nbsp;<br/>
<% authorized_only hash_for_new_medium_title_path do %>
<%=  link_to ts(:for, :what => t('new.record', :what => Title.human_name), :whom => @medium.class.human_name), new_medium_title_path(@medium) %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'titles'} %>
</p>