<h1><%= ts(:for, :what => t('list.ing.records', :what => Title.model_name.human(:count => :many).titleize), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}") %></h1>
<p><%= thumbnail_image_link(@medium) %></p>
<%= render :partial => 'index', :locals => {:titles => @titles} %>
<p>&nbsp;<br/>
<% path = new_medium_title_path(@medium)
   if authorized? path %>
<%=  link_to ts(:for, :what => t('new.record', :what => Title.model_name.human), :whom => @medium.class.model_name.human), path %> |
<% end %>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'titles'} %>
</p>