<% title =  Title.model_name.human.capitalize %>
<b><%= ts :for, :what => title, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
<p><%= thumbnail_image_link(@medium) %></p>
<%= display_if_not_blank title.s, h(@title.title).s %>
<%= display_if_not_blank ComplexScripts::Language.model_name.human.titleize.s, h(@title.language.title).s %>
<p>&nbsp;<br/>
<% path = edit_medium_title_path(@medium, @title)
   if authorized? path %>
<%= link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>