<h1><%= ts :for, :what => t('list.ing', :what => CaptureDeviceModel.human_name(:count => :many).titleize), :whom => h(@capture_device_maker.title) %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= CaptureDeviceModel.human_name.titleize.s %></th>
    <th><%= CaptureDeviceModel.human_attribute_name('exif_tag').s %></th>
  </tr>
<% can_edit = authorized? hash_for_edit_capture_device_maker_model_path
   for capture_device_model in @capture_device_models %>
  <tr>
    <td><%= can_edit ? link_to(h(capture_device_model.title), edit_capture_device_maker_model_path(@capture_device_maker, capture_device_model)) : link_to(h(capture_device_model.title), capture_device_maker_model_path(@capture_device_maker, capture_device_model)) %></td>
    <td><%= capture_device_model.exif_tag %></td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% if authorized? hash_for_new_capture_device_maker_model_path %>
<%=  link_to ts(:for, :what => t('new.record', :what => CaptureDeviceModel.human_name), :whom => @capture_device_maker.title), new_capture_device_maker_model_path(@capture_device_maker) %> |
<% end %>
<%= link_to ts('back.to', :what => t('all.records', :what => CaptureDeviceMaker.human_name(:count => :many))), capture_device_makers_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>