<%= display_if_not_blank CaptureDeviceMaker.model_name.human.titleize.s, h(@capture_device_maker.title) %>
<%= display_if_not_blank CaptureDeviceModel.model_name.human.titleize.s, h(@capture_device_model.title) %>
<%= display_if_not_blank CaptureDeviceModel.human_attribute_name('exif_tag').s, h(@capture_device_model.exif_tag) %>
<p>&nbsp;<br/>
<% path = edit_capture_device_maker_model_path(@capture_device_model)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>