<h1><%= ts 'list.ing.records', :what => Keyword.model_name.human(:count => :many).titleize %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= Keyword.model_name.human.titleize.s %></th>
  </tr>
<% can_edit = authorized? hash_for_edit_keyword_path
   for keyword in @keywords %>
  <tr>
    <td>
<%    if can_edit %>
<%=     link_to h(keyword.title).s, edit_keyword_path(keyword) %>
<%    else %>
<%=     link_to h(keyword.title).s, keyword_path(keyword) %>
<%    end %>
	</td>
  </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% if base_language? && authorized?(hash_for_new_keyword_path) %>
<%=  link_to ts('new.record', :what => Keyword.model_name.human), new_keyword_path %> |
<% end %>
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>

