<h1><%= ts('new.record', :what => Keyword.human_name.titleize) %></h1>
<%= error_messages_for :keyword %>
<% form_for(:keyword, :url => keywords_path(:medium_id => @medium)) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p><br/>
<%= link_to ts('cancel.record', :what => t('new.this')), keywords_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>
