<%= tagged_tinymce_script %>
<% klass = @medium.class %>
<p>
  <b><%= Medium.human_attribute_name(:resource_type).s %></b><br />
<%= f.collection_select(:resource_type_id, @resource_types, :id, :title, { :include_blank => false }) %>
</p>
<p>
  <b><%= klass.human_attribute_name(:photographer).s %></b><br />
<%= f.collection_select(:photographer_id, @photographers, :id, :fullname, { :include_blank => true }, language_options) %> (<%= link_to ts('new.record', :what => AuthenticatedSystem::Person.model_name.human), new_authenticated_system_person_path, { :target => '_blank' } %>)
</p>
<p>
  <b><%= Medium.human_attribute_name(:taken_on, :what => klass.model_name.human.titleize).s %></b><br/>
<%= f.datetime_select(:taken_on, :start_year => 1930, :include_blank => true, :include_seconds => true) %>
</p>
<p>
  <b><%= klass.human_attribute_name(:capture_device_model).s %></b><br />
<%= f.select(:capture_device_model_id, @capture_device_models.collect {|m| [ "#{h(m.capture_device_maker.title)} - #{h(m.title)}", m.id ] }, { :include_blank => true }) %> (<%= link_to ts('manage.record', :what => CaptureDeviceMaker.model_name.human), capture_device_makers_path, { :target => '_blank' } %>)
</p>
<p>
  <b><%= QualityType.model_name.human.titleize.s %></b><br />
<%= f.collection_select(:quality_type_id, @quality_types, :id, :title, { :include_blank => true }, language_options) %> (<%= link_to ts('new.record', :what => QualityType.model_name.human), new_quality_type_path, { :target => '_blank' } %>)
</p>
<p>
  <b><%= Medium.human_attribute_name(:recording_note).s %></b><br />
<%= f.text_area :recording_note, :rows => 5, :class => 'mceEditor' %>
</p>
<p>
  <b><%= Medium.human_attribute_name(:private_note).s %></b><br />
<%= f.text_area :private_note, :rows => 5, :class => 'mceEditor' %>
</p>