<h2>THL Resource Collections</h2>
<% no_media = true
   if !@pictures.empty? %>
     <h3 align="center"><%= @titles[:picture] %></h3>
<%   no_media = false
     @more[:type] = 'Picture' if !@more.nil? %>
<%=  render :partial => 'media/media_table', :locals => {:media => @pictures, :more => @more} %>
<% end
   if !@videos.empty? %>
     <h3 align="center"><%= @titles[:video] %></h3>
<%   no_media = false
     @more[:type] = 'Video' if !@more.nil? %>
<%=  render :partial => 'media/media_table', :locals => {:media => @videos, :more => @more} %>
<% end
   if no_media %>
     <h3 align="right"><%= ts 'media.none' %></h3>
<% end %>