<br />
<% cache :controller => controller.controller_name, :action => controller.action_name, :action_suffix => 'main', :locale => I18n.locale.to_s do %>
<%=  render :partial => 'media_searches/advanced' %>
<%=  form_for :goto, :url => goto_media_path, :remote => true do |f| %>
       <p>
         <label for="goto_media_id"><b><%= Medium.human_attribute_name(:id).s %></b></label>
<%=      f.text_field :media_id, :size => 10 %>
<%=      globalized_submit_tag :go %>
       </p>
<%   end %>
     <div class="line"></div>
     <table border="0">
       <tr valign="top">
	     <td><h3>Browse by <%= select_tag :root_topics, options_for_select([''] + Topic.roots_with_media.collect{|topic| [topic.title, topic_path(topic)]}, ''), :onchange => "if ($(this).val() != '') window.location = $(this).val();" %></h3></td>
       </tr>
       <tr>
         <td valign="top">
           <ul>
             <li><h4><%= ts 'by.keyword' %></h4>
             <p>
<%             for keyword in @keywords %>
<%               font_size = (@keyword_font_size[keyword.id]) %>
                 <FONT SIZE= "<%= font_size %>"><%= link_to h(keyword.title).s, media_path(:keyword_id => keyword), :remote => true %></FONT>
<%             end %>
             </p>
             </li>
           </ul>
         </td>
       </tr>
     </table>
<% end %>
<p>
<% if authorized? hash_for_new_picture_path %>
<%=  link_to ts('new.record', :what => 'Photo-Immersive Object'), new_picture_path %> |
<% end
   if authorized? hash_for_new_video_path %>
<%=  link_to ts('new.record', :what => 'Audio-Video'), new_video_path %> |
<% end
   if authorized? hash_for_new_document_path %>
<%=  link_to ts('new.record', :what => 'Text-Website'), new_document_path %>
<% end %>
</p>