<% if media.empty? %>
     <h3><%= ts 'media.none' %>
<% else %>
     <h3><%= title %>
<% end
   if logged_in? %>
	 (filter by <%= select_tag :filters, options_for_filters %>)</h4>
<%=  javascript_on_load do %>
       $("select[name='filters']").change(function() { 
		  value = $(this).val();
		  if (value != '') window.location = value;
	   });
<%   end 
   end %>
<% if !media.empty? %>
	 </h3>
     <table border="0" cellpadding="0px" cellspacing="5px" id="picframe">
       <tr align="center" valign="middle">
<%     i=0
       for medium in media
         next if medium.nil? %>
<%=      render :partial => 'media/thumb_column', :locals => {:medium => medium} %>	 
<%       i+=1
         if i==Medium::FULL_COLS %>
           </tr><tr align="center" valign="middle">
<%         i=0
         end
       end %>
       </tr>
     </table>
<% end %>