<%= javascript_on_load(reset_animation_script('.thl-popup-content')) %>
<p>
<% chosen_caption = chosen_caption(@medium)
   if !chosen_caption.nil? %>
     <h2><%=  chosen_caption.title.s %></h2>
<% end
   if defined?(large) && large %>
<%=  render :partial => 'pictures/large' %>
<% else
     large = false
     if @medium.instance_of? Picture %>
<%=    render :partial => 'pictures/show' %>
<%   elsif @medium.instance_of? Video %>
<%=    render :partial => 'videos/show' %>
<%   elsif @medium.instance_of? Document %>
<%=    render :partial => 'documents/show' %>
<%   end %>
<%=  display_if_not_blank Medium.human_attribute_name(:id).s, "#{@medium.id} (#{link_to ts(:url_for_reference), medium_path(@medium)})".html_safe %>
<%=  render :partial => 'titles/index_display_only', :locals => {:medium => @medium} %>
<% end 
   captions = @medium.captions
   if !captions.empty? && captions.size>1 %>
     <p>
<%   for caption in captions
       if caption != chosen_caption %>
<%=      caption.title.s %><br/>
<%     end
     end %>
     </p>  
<% end
   grouped_topics = Hash.new
   root_topics = Topic.roots_with_media
   root_topics.each{ |topic| grouped_topics[topic.id] = Array.new }
   @medium.media_category_associations.each{ |association| grouped_topics[association.root_id] << association }
   for root_topic in root_topics
	 topics = grouped_topics[root_topic.id]
	 if !topics.empty? %>
<%=    display_if_not_blank root_topic.title, topics.collect {|a| link_to h(a.title_with_value).s, topic_path(a.category)}.join(', ') %>
<%   end
   end
   locations = @medium.locations
   if !locations.empty? %>
<%=  display_if_not_blank 'Location', locations.collect {|l| link_to h(l.feature.header).s, place_path(l.feature.fid)}.join(', ') %>
<% end
   keywords = @medium.keywords
   if !keywords.empty? %>
<%=  display_if_not_blank Keyword.model_name.human(:count => :many).titleize.s, keywords.collect {|k| link_to h(k.title).s, media_path(:keyword_id => k)}.join(", ") %>
<% end
   descriptions = @medium.descriptions
   if !descriptions.empty? %>
     <p><b><%= Description.model_name.human(:count => descriptions.size).titleize.s %>:</b></p>
<%   for description in descriptions %>
       <p><%= description.title.s %></p>
<%   end
   end
   associated_resources = [
    ["Places", @medium.feature_count, @medium.places_url],
    [Topic.model_name.human(:count => :many).titleize.s, @medium.category_count, @medium.kmaps_url]
   ]
   if associated_resources.collect{|ar| ar[1]}.sum > 0 %>
     <h3>Associated Resources</h3>
     <ul class="normal">
<%=    associated_resources.reject{|ar| ar[1] == 0}.collect{ |ar| "<li>#{link_to("#{ar[0]} (#{ar[1]})", ar[2])}</li>" }.join.html_safe %>
     </ul>
<% end
   affiliations = @medium.affiliations
   copyrights = @medium.copyrights
   if !affiliations.empty? || !copyrights.empty? %>
   <p>
<%   if !affiliations.empty?
	   affiliations_list = affiliations.collect do |c|
         title = c.organization.website.blank? ? h(c.organization.title): link_to(h(c.organization.title), c.organization.website, :target => '_blank')
         project = c.project
         sponsor = c.sponsor
		 if !project.nil? || !sponsor.nil?
           parenthesis = ' ('
           if !project.nil?
             parenthesis << project.title
             parenthesis << ' ' if !sponsor.nil?
           end
           parenthesis << t(:sponsored_by, :what => sponsor.title) if !sponsor.nil?
           parenthesis << ')'
         else
           parenthesis = ''
         end
         "#{title}#{parenthesis}".html_safe
	   end %>
<%=    ts 'copyright.message.provider', :what => Medium.model_name.human, :whom => affiliations_list.join(', ') %>
<%   end
     if !copyrights.empty? %>
<%=    ts 'copyright.message.holder', :count => copyrights.size, :whom => copyrights.collect{|c| "#{c.copyright_holder.website.blank? ? h(c.copyright_holder.title): link_to(h(c.copyright_holder.title), c.copyright_holder.website)} (#{c.reproduction_type.website.blank? ? h(c.reproduction_type.title).downcase : link_to(h(c.reproduction_type.title).downcase, c.reproduction_type.website)})".html_safe}.join(', ') %>
<%   end %>
   </p>
<% end %>
<%= display_if_not_blank Medium.human_attribute_name('resource_type').s, @medium.resource_type.title %>
<% photographer = @medium.photographer
   if !photographer.nil? %>
<%=  display_if_not_blank @medium.class.human_attribute_name('photographer').s, link_to(h(photographer.fullname).s, person_path(photographer)) %>
<% end
   quality_type = @medium.quality_type 
   if !quality_type.nil? %>
<%=  display_if_not_blank QualityType.model_name.human.titleize.s, h(quality_type.title).s %>
<% end 
   orientation = @medium.recording_orientation
   if !orientation.nil? %>
<%=  display_if_not_blank RecordingOrientation.model_name.human.titleize.s, h(orientation.title).s %>
<% end 
   if !@medium.recording_note.blank? %>
     <p><b><%= Medium.human_attribute_name('recording_note').s %>:</b></p>
<%=  @medium.recording_note %>
<% end
   if authorized?(hash_for_edit_medium_path) && !@medium.private_note.blank? %>
     <p><b><%= Medium.human_attribute_name('private_note').s %>:</b></p>
<%=  @medium.private_note %>
<% end %>
<p>
<% if @medium.partial_taken_on.nil? 
	 if !@medium.taken_on.nil? %>
       <b><%= Medium.human_attribute_name('taken_on', :what => @medium.class.model_name.human.titleize).s %>:</b>
<%=    h(@medium.taken_on.strftime('%d/%b/%Y')) %>
<%   end
   else %>
     <b><%= Medium.human_attribute_name('taken_on', :what => @medium.class.model_name.human.titleize).s %>:</b>
<%=  h(@medium.partial_taken_on) %>
<% end
   if logged_in? %>
     <br/><b><%= Medium.human_attribute_name('created_on').s %>:</b>
<%=  h(@medium.created_on.strftime('%d/%b/%Y')) %><br/>
     <b><%= Medium.human_attribute_name('updated_on').s %>:</b>
<%=  h(@medium.updated_on.strftime('%d/%b/%Y')) %><br/>
<% end %>
</p>
<% if logged_in?
     capture_device_model = @medium.capture_device_model
     if !capture_device_model.nil? %>
<%=    display_if_not_blank CaptureDeviceModel.model_name.human.titleize.s, "#{h(capture_device_model.capture_device_maker.title)} - #{h(capture_device_model.title)}".html_safe %>
<%   end
     media_source_associations = @medium.media_source_associations
     if !media_source_associations.empty? %>
<%=    display_if_not_blank Source.model_name.human(:count => media_source_associations.size).titleize.s, media_source_associations.collect {|s| "#{s.source.title} #{"(#{s.shot_number})" if !s.shot_number.nil?}".html_safe}.join(', ') %>
<%   end
   end
   if authorized? hash_for_medium_workflow_path
     workflow = @medium.workflow
     if !workflow.nil? %>
<%=    render :partial => 'workflows/show', :locals => {:workflow => workflow} %>
<%   end
   end %>
<p>
<% has_previous = false
   if authorized? hash_for_edit_medium_path %>
<%=  link_to ts('edit.record', :what => t(:catalog_record)), edit_medium_path(@medium) %>
<%   has_previous = true
   end
   if authorized?(hash_for_medium_path(:action => 'destroy'))
	 if has_previous %>
	   |
<%   else
       has_previous = true
	 end %>
<%=  link_to ts('delete.this'), medium_path(@medium), :confirm => te('delete.confirmation'), :method => :delete %>
<% end 
   if large
	 if has_previous %>
	   |
<%   end %>
<%=  link_to ts('back.to', :what => Medium.model_name.human), medium_path(@medium) %>
<% end %>
</p>