<% form_for(:media_search, :url => media_searches_path, :html => {:method => :get}) do |f| %>
   <p>
<%=  f.text_field :title, fixed_language_options(:size => 35) %>
<%=  submit_tag te('search.this'), language_options %><br/>
<%=  f.radio_button :type, :simple %> <%= ts('search.full_text') %>
<%=  f.radio_button :type, :boolean %> <%= ts(:advanced) %> (<%= link_to ts('search.tips'), :controller => 'help', :action => 'advanced_search' %>)
   </p>
<% end %>
