<h4><%= ts('search.results') %></h4>
<p><%= render :partial => 'advanced' %></p>
<% some_found = false
   if @picture_count>0 
	 some_found = true %>
     <p><b><%= ts :found, :what => Picture.human_name(:count => :many).titleize %>:</b>
<%=    link_to_remote @picture_count, :url => media_searches_path(@pagination_params.merge({:media_type => 'Picture'})), :method => :get, :update => 'secondary' %>
	 </p>
<% end 
   if @video_count>0
	 some_found = true %>
     <p><b><%= ts :found, :what => Video.human_name(:count => :many).titleize %>:</b>
<%=    link_to_remote @video_count, :url => media_searches_path(@pagination_params.merge({:media_type => 'Video'})), :method => :get, :update => 'secondary' %>
	 </p>
<% end 
   if @document_count>0 
	 some_found = true %>
     <p><b><%= ts :found, :what => Document.human_name(:count => :many).titleize %>:</b>
<%=    link_to_remote @document_count, :url => media_searches_path(@pagination_params.merge({:media_type => 'Document'})), :method => :get, :update => 'secondary' %>
	 </p>
<% end 
   if !@administrative_units.empty? 
	 some_found = true %>
     <p><b><%= ts :found, :what => Location.human_name(:count => :many).titleize %>:</b>
<%=  @administrative_units.collect{|u| link_to h(u.title).s, places_path(:administrative_unit_id => u)}.join(", ") %>
     </p>
<% end 
   if !@keywords.empty?
	 some_found = true %>
     <p><b><%= ts :found, :what => Keyword.human_name(:count => :many).titleize %>:</b>
<%=  @keywords.collect{|k| link_to_remote h(k.title).s, :url => media_path(:keyword_id => k), :method => 'get'}.join(", ") %>
     </p>
<% end 
   if !some_found %>
     <p><i><%= ts(:none) %></i></p>
<% end %>