<h4><%= ts('search.results') %></h4>
<p><%= render :partial => 'advanced' %></p>
<% some_found = false
   picture_count = @pictures.count
   if picture_count > 0
	 some_found = true %>
     <p><b><%= ts 'found.records', :what => Picture.model_name.human(:count => :many).titleize %>:</b>
<%=    link_to picture_count, media_searches_path(@pagination_params.merge({:media_type => 'Picture'})) %>
	 </p>
<% end
   video_count = @videos.count
   if video_count > 0
	 some_found = true %>
     <p><b><%= ts 'found.records', :what => Video.model_name.human(:count => :many).titleize %>:</b>
<%=    link_to video_count, media_searches_path(@pagination_params.merge({:media_type => 'Video'})) %>
	 </p>
<% end
   document_count = @documents.count
   if document_count > 0
	 some_found = true %>
     <p><b><%= ts 'found.records', :what => Document.model_name.human(:count => :many).titleize %>:</b>
<%=    link_to document_count, media_searches_path(@pagination_params.merge({:media_type => 'Document'})) %>
	 </p>
<% end 
   if !@keywords.empty?
	 some_found = true %>
     <p><b><%= ts 'found.records', :what => Keyword.model_name.human(:count => :many).titleize %>:</b>
<%=  @keywords.collect{|k| link_to h(k.title).s, media_path(:keyword_id => k)}.join(', ').html_safe %>
     </p>
<% end 
   if !some_found %>
     <p><i><%= ts 'found.none.this' %></i></p>
<% end %>