<h4><%= ts('search.results') %></h4>
<p><%= render :partial => 'advanced' %></p>
<% some_found = false
   if @picture_count>0 
	 some_found = true %>
     <p><b><%= ts :found, :what => Picture.human_name(:count => :many).titleize %>:</b>
<%=    link_to @picture_count, media_searches_path(@pagination_params.merge({:media_type => 'Picture'})) %>
	 </p>
<% end 
   if @video_count>0
	 some_found = true %>
     <p><b><%= ts :found, :what => Video.human_name(:count => :many).titleize %>:</b>
<%=    link_to @video_count, media_searches_path(@pagination_params.merge({:media_type => 'Video'})) %>
	 </p>
<% end 
   if @document_count>0 
	 some_found = true %>
     <p><b><%= ts :found, :what => Document.human_name(:count => :many).titleize %>:</b>
<%=    link_to @document_count, media_searches_path(@pagination_params.merge({:media_type => 'Document'})) %>
	 </p>
<% end 
   if !@administrative_units.empty? 
	 some_found = true %>
     <p><b><%= ts :found, :what => Location.human_name(:count => :many).titleize %>:</b>
<%=  @administrative_units.collect{|u| link_to h(u.title).s, places_path(:administrative_unit_id => u)}.join(", ") %>
     </p>
<% end 
   if !@keywords.empty?
	 some_found = true %>
     <p><b><%= ts :found, :what => Keyword.human_name(:count => :many).titleize %>:</b>
<%=  @keywords.collect{|k| link_to h(k.title).s, media_path(:keyword_id => k)}.join(", ") %>
     </p>
<% end 
   if !some_found %>
     <p><i><%= ts(:none) %></i></p>
<% end %>