<div id="primary">
<h3><%= ts('search.results') %></h3>
<p><%= render :partial => 'advanced' %></p>
<p><b><%= ts :found, :what => MediaAdministrativeLocation.human_name(:count => :many).titleize %>:</b>
<% if @administrative_units.empty? %>
     <i><%= ts(:none) %></i>
<% else %>
<%=  @administrative_units.collect{|u| link_to h(u.title).s, media_administrative_locations_path(:administrative_unit_id => u)}.join(", ") %>
<% end %>
</p>
<p><b><%= ts :found, :what => Keyword.human_name(:count => :many).titleize %>:</b>
<% if @keywords.empty? %>
      <i><%= ts :none %></i>
<% else %>
<%= @keywords.collect{|k| link_to_remote h(k.title).s, :url => media_path(:keyword_id => k), :method => 'get'}.join(", ") %>
<% end %>
</p>
</div>
<div id="secondary">
<% if !@media.nil? %>
<%=  render :partial => 'media/paged_index' %>
<% end %>
</div>
<p>&nbsp;<br/>
<%= link_to ts('back.to', :what => t(:all, :what => Medium.human_name(:count => :many))), media_path %>
</p>