<h1><%= ts 'edit.ing.record', :what => Country.human_name.titleize %></h1>
<%= error_messages_for :country %>
<% if base_language?
 	 form_for(:country, :url => country_path(@country), :html => { :method => :put }) do |f| %>
<%=    render :partial => 'form', :locals => {:f => f} %>
       <p><%= globalized_submit_tag 'update.this' %></p>
<%   end
   else %>
     <h2><%= ts(LANGUAGES[I18n.default_locale][:title]) %></h2>
<%   locale = I18n.locale
     I18n.locale = I18n.default_locale %>
<%=  display_if_not_blank Country.human_name.titleize.s, h(@country.title).s %>
<%   I18n.locale = locale
     @country[:title] = @country.title %>
     <h2><%= ts(LANGUAGES[I18n.locale][:title]) %></h2>
<%   form_for(:country, :url => country_path(@country), :html => { :method => :put }) do |f| %>
<%=    render :partial => 'form', :locals => {:f => f, :options => fixed_language_options} %>
       <p><%= submit_tag te(:save, :what => t('translat.ion')), language_options(:disabled_with => 'Posting...') %></p>
<%   end
   end %>
<p>
<%= link_to ts('cancel.record', :what => t('edit.ing.this')), country_path(@country) %> |
<%= render :partial => 'persistent_links' %>
</p>