<h1><%= ts 'new.record', :what => Country.human_name.titleize %></h1>
<%= error_messages_for :country %>
<% form_for(:country, :url => countries_path) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f, :options => language_options} %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p>
<%= link_to ts('cancel.record', :what => t('new.this')), countries_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>