<%= display_if_not_blank Country.human_name.titleize.s, h(@country.title).s %>
<p><b><%= AdministrativeLevel.human_name(:count => :many).titleize.s %></b> (<%= link_to ts('manage.record', :what => AdministrativeLevel.human_name(:count => :many)), country_administrative_levels_path(@country) %>)
<% if !@administrative_levels.empty? %>
: <%=  @administrative_levels.collect{ |l| "#{h(l.title).s} (#{l.level})"}.join(', ') %>
<% end %>
</p>
<% if !@first_level.nil? %>
     <p><b><%= h(@first_level.title.pluralize).s %></b> (<%= link_to(ts('manage.record', :what => AdministrativeUnit.human_name(:count => :many)), country_administrative_units_path(@country)) %>)
<%   if !@first_level_units.empty? %>
       : <%=  @first_level_units.collect{ |u| h(u.title).s }.join(', ') %>
<%   end %>
     </p>
<% end %>
<p>&nbsp;<br/>
<% authorized_only hash_for_edit_country_path do %>
<%=  link_to ts('edit.this'), edit_country_path(@country) %> |
<% end
   authorized_only hash_for_country_path(:action => 'destroy') do %>
<%=  link_to ts('delete.this'), country_path(@country), :confirm => te('delete.confirmation'), :method => :delete %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>