<h1><%= ts 'edit.ing.record', :what => Organization.human_name.titleize %></h1>
<%= error_messages_for :organization %>
<% form_for(:organization, :url => organization_path(@organization), :html => { :method => :put }) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'update.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>