<h1>Confirming media (<%= @import_type[:title] %>)</h1>
<%= form_tag(media_imports_path) do %> 
<%    import_type_id = @import_type[:id] %>
<%=   hidden_field_tag :import_type_id, import_type_id %>
      <table class="normal" border="0">
	    <tr>
	      <th>Type</th>
	      <th>&nbsp;</th>
	      <th>Subject</th>
	      <th>&nbsp;</th>
	      <th>Name</th>
<%        if import_type_id==2 # media update %>
            <th>&nbsp;</th>
            <th>ID</th>
<%        end %>
	    </tr>
<%    previous_type = nil
      previous_topic_id = nil
      for medium in @media %>
        <tr>	     
<%	      type = medium[:type]
	      if previous_type==type %>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
<%		  else
		    previous_type = type %>
	        <td><%= medium[:type].titleize %></td>
	        <td>&nbsp;-&nbsp;</td>
<%	      end 
          if import_type_id==1 # add new media to db %>
<%=         hidden_field_tag 'media[type][]', medium[:type] %>
<%        end 
          topic = medium[:topic]
          if topic.nil? || previous_topic_id==topic.id %>
            <td>&nbsp;</td>
		    <td>&nbsp;</td>
<%		  else
		    previous_topic_id = topic.id %>
	        <td>
<%=         "#{topic.full_lineage} > #{topic.header}" %>
            </td>
	        <td>&nbsp;-&nbsp;</td>
<%		  end 
          if import_type_id==1 # add new media to db %>
<%=         hidden_field_tag "media[topic_id][]", topic.nil? ? '' : topic.id %>
<%        end %>
	      <td><%= medium[:filename] %></td>
<%=       hidden_field_tag 'media[filename][]', medium[:filename] %>
<%=       hidden_field_tag 'media[path][]', medium[:path] %>
<%        if import_type_id==2 # media update %>
            <td>&nbsp;-&nbsp;</td>
            <td><%= medium[:id] %></td>
<%=         hidden_field_tag 'media[id][]', medium[:id] %>
<%        end %>
        </tr>
<%    end %>
   </table>
<p><%= globalized_submit_tag :import %></p>
<%  end %>
<p>&nbsp;<br/>
<%= link_to 'Status of last importation', status_media_imports_path %> |
<%= link_to 'Back to new media importation', new_media_import_path %> |
<%= link_to 'Media Importation Home', media_imports_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %></p>