<h1>Last Importation by <%= @user.screen_name %> Done</h1>
<p>
<%= render :partial => 'status' %>
</p>
<p>&nbsp;<br/>
<%= link_to 'New media importation', new_media_import_path %> |
<%= link_to 'Media Importation Home', media_imports_path %> |
<%= render :partial => 'main/back_to_admin_or_media' %>
</p>