<h1>Listing filters</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @filters.each do |filter| %>
  <tr>
    <td><%=h filter.title %></td>
    <td><%= link_to 'Show', filter %></td>
    <td><%= link_to 'Edit', edit_filter_path(filter) %></td>
    <td><%= link_to 'Destroy', filter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New filter', new_filter_path %>