<h1><%= ts 'list.ing.records', :what => DescriptionType.model_name.human(:what => "#{Caption.model_name.human.titleize}/#{Description.model_name.human.titleize}") %></h1>
<table border="1" class="normal">
  <tr>
    <th><%= DescriptionType.model_name.human.titleize.s %></th>
  </tr>
<% for description_type in @description_types %>
  <tr>
    <td><%= link_to h(description_type.title), description_type_path(description_type) %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to ts('new.record', :what => "#{Caption.model_name.human}/#{Description.model_name.human}"), new_description_type_path %> |
<%= link_to ts('back.this'), media_path %>
