<h1><%= ts('new.record', :what => "#{Caption.human_name.titleize}/#{Description.human_name.titleize}") %></h1>
<%= error_messages_for :description_type %>
<% form_for(:description_type, :url => description_types_path) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p>
<%= link_to ts('back.this'), description_types_path %>
</p>