<h1><%= ts('new.record', :what => "#{Caption.model_name.human.titleize}/#{Description.model_name.human.titleize}") %></h1>
<%= error_messages_for :description_type %>
<%= form_for(:description_type, :url => description_types_path) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'creat.e.this' %></p>
<%  end %>
<p>
<%= link_to ts('back.this'), description_types_path %>
</p>