<%= tinymce_assets %>
<%= tinymce %>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<%= f.hidden_field :medium_id %>
<p>
    <b><%= CopyrightHolder.model_name.human.titleize.s %></b><br />
<%= f.collection_select(:copyright_holder_id, @copyright_holders, :id, :title) %> (<%= link_to ts('new.record', :what => CopyrightHolder.model_name.human), new_copyright_holder_path, { :target => '_blank' } %>)
</p>
<p>
    <b><%= ReproductionType.model_name.human.titleize.s %></b><br />
<%= f.collection_select(:reproduction_type_id, @reproduction_types, :id, :title) %> (<%= link_to ts('new.record', :what => ReproductionType.model_name.human), new_reproduction_type_path, { :target => '_blank' } %>)
</p>
<p>
    <b><%= Copyright.human_attribute_name('notes').s %></b><br />
<%= f.text_area :notes, :rows => 5, :class => 'tinymce' %>
</p>
