<h1><%= ts :for, :what => t('new.record', :what => Copyright.human_name.titleize), :whom => "#{Medium.human_name.titleize} #{@medium.id}" %></h1>
<%= error_messages_for :copyright %>
<% form_for(:copyright, :url => copyrights_path) do |f| %>
<%=  render :partial => 'form', :locals => {:f => f} %>
     <p><%= globalized_submit_tag 'create.this' %></p>
<% end %>
<p>&nbsp;<br/>
<%= render :partial => 'media/back_to_edit', :locals => {:anchor => 'copyrights'} %></p>