<b><%= ts :for, :what => Copyright.model_name.human.titleize, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
<p>
<%= thumbnail_image_link(@medium) %>
</p>
<%= display_if_not_blank CopyrightHolder.model_name.human.titleize.s, h(@copyright.copyright_holder.title).s %>
<%= display_if_not_blank ReproductionType.model_name.human.titleize.s, h(@copyright.reproduction_type.title).s %>
<%= display_if_not_blank Copyright.human_attribute_name('notes').s, h(@copyright.notes) %>
<p>&nbsp;<br/>
<% path = edit_copyright_path(@copyright)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>