<%= tagged_tinymce_script %>
<p>
    <b><%= Medium.model_name.human.titleize.s %></b><br />    
<%= f.hidden_field :medium_id %>
<%= thumbnail_image_link(@medium) %></td>
</p>
<p>
    <b><%= Location.human_attribute_name('feature_id').s %></b> (<%= link_to ts('browse.records', :what => 'Places Dictionary'), PlacesResource.get_url, :target => '_blank' %>)<br />
<%= f.text_field :feature_id %>
</p>
<p>
    <b><%= Location.human_attribute_name('spot_feature').s %></b><br />
    <%= f.text_area :spot_feature, :rows => 5, :class => 'mceEditor' %>
</p>
<p>
    <b><%= Location.human_attribute_name('notes').s %></b><br />
    <%= f.text_area :notes, :rows => 5, :class => 'mceEditor' %>
</p>