<h1><%= ts :for, :what => t('edit.ing.record', :what => Location.human_name.titleize.s), :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></h1>
<%= error_messages_for :location %>
<%= form_for(:location, :url => medium_location_path(@medium, @location), :method => :put) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'update.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>