<p>
  <b><%= ts :for, :what => Location.model_name.human(:count => :many).titleize, :whom => "#{Medium.human_attribute_name(:id)}#{@medium.id}" %></b>
</p>
<p>
<%=  thumbnail_image_link(@medium) %>
</p>
<%= display_if_not_blank(Location.model_name.human(:count => 1).titleize.s, link_to(@location.feature.header, medium_places_path(@medium, @location.feature_id))) if !@location.feature.nil? %>
<%= display_if_not_blank Location.human_attribute_name('lat').s, @location.lat %>
<%= display_if_not_blank Location.human_attribute_name('lng').s, @location.lng %>
<%= display_if_not_blank Location.human_attribute_name('spot_feature').s, h(@location.spot_feature) %>
<%= display_if_not_blank Location.human_attribute_name('notes').s, h(@location.notes) %>
<p>&nbsp;<br/>
<% path = edit_medium_location_path(@medium, @location)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>