<% if !@pictures.nil? || !@videos.nil? || !@documents.nil? %>
     <h2><%= Medium.model_name.human(:count => :many).titleize.s %> Associated with <%= @place.header %></h2>
<%   no_media = true
     title = @place.header
     if !@pictures.empty? %>
       <h3><%= ts(:in, :what => Picture.model_name.human(:count => :many).titleize, :where => title) %></h3>
<%     no_media = false %>
<%=    render :partial => 'media/media_table', :locals => { :media => @pictures, :more => pictures_place_path(@place.fid) } %>
<%   end
     if !@videos.empty? %>
       <h3><%= ts(:in, :what => Video.model_name.human(:count => :many).titleize, :where => title) %></h3>
<%     no_media = false %>
<%=    render :partial => 'media/media_table', :locals => { :media => @videos, :more => videos_place_path(@place.fid) } %>
<%   end
     if !@documents.empty? %>
       <h3><%= ts(:in, :what => Document.model_name.human(:count => :many).titleize, :where => title) %></h3>
<%     no_media = false %>
<%=    render :partial => 'documents/media_table', :locals => { :media => @documents, :more => documents_place_path(@place.fid) } %>
<%   end
     if no_media %>
       <p><%= ts 'media.none' %></p>
<%   end %>
<% elsif !@media.nil? %>
<%=  render :partial => 'media/paged_index_full' %>
<% end %>
<p><%= link_to ts(:in, :what => @place.header, :where => 'Places'), Place.element_url(@place.fid, :format => 'html') %></p>